@import "tailwindcss";
.container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}
input, select {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
}
p {
  color: red;
  margin: 0 0 8px;
}
button {
  margin-top: 10px;
}
